.appFF {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  background-color: #001d24;
  border-radius: 10px;
}

.about-image-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.about-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.about-container h1{
    color: orange;
    text-align: center !important;
    
}

.about-heading {
  margin-bottom: 10px;
}

.about-description {
    color: goldenrod;
  margin: 0 20px 20px;
  font-weight: bold;
}

.about-skills {
  text-align: left;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-skills ul li{
    color: green;
}

.skills-heading {
  margin-bottom: 10px;
  color: green;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  color: #444;
  margin: 5px 0;
}

.contact-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.contact-heading {
  color: #333;
}

.contact-info {
  color: #666;
  margin-bottom: 15px;
}

.social-links a {
  color: #007acc;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
  color: #005f99;
}
