body {
  background-color: #001d24;
}

.teaching {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #001d24;
  align-items: center;
  justify-content: space-evenly;
}

.cpm1 {
  -webkit-backdrop-filter: blur(5px); /* For older WebKit browsers */
  backdrop-filter: blur(10px);
  height: 90%;
  width: 90%;
  box-shadow: 0px 0px 10px snow;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.disp h4:hover{
  text-decoration: underline;
  color: rgba(218, 165, 32, 0.716);

}

.disp ul li a{
  padding-top: 15px;

}
.cpm1 ul {
  border-right: 3px double rgb(132, 130, 130);
}
.cpm1 ul li {
  padding: 10px;
  color: goldenrod;
  font-weight: bold;
  font-size: 1.1rem;
}

.cpm1 h1 {
  text-align: left;
  color: red;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.disp h2{
color: goldenrod;
}

.links a {
  color: #007acc;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.links ul li{
  display: flex;
  flex-direction: column;
}

.links a:hover {
  text-decoration: underline;
  color: #005f99;
}

.cpm1 button {
  border: 2px solid snow;
  background-color: transparent;
  font-weight: bold;
  color: snow;
}

.cpm1 button:hover {
  background-color: rgb(1, 75, 60);
}

.highlight-blue {
  color: rgb(74, 74, 255);
  cursor: pointer; /* Makes the text appear clickable */
}
